* {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
}

.navbar-items {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 10px;
  background-color: transparent;
  color: rgb(0, 0, 0);
  position: relative;
}

.intro {
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center;
  height: 90vh;
  justify-content: center;
  background-image: url();
  line-height: 3.5rem;
  background-image: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.8)
    ),
    url(https://raw.githubusercontent.com/thatanjan/netflix-clone-yt/youtube/media//banner.jpg);
  color: white;
  /* position: absolute; */
}

.form {
  display: flex;
  justify-content: center;
}

.intro h1 {
  font-size: 3rem;
  font-weight: 800;
}

.intro h3 {
  font-weight: 500;
  font-size: 1.5rem;
}

.email {
  border-radius: 5px;
  font-size: 1rem;
  background-color: black;
}

.email::placeholder {
  color: rgb(204, 204, 204);
}

.btn {
  border-style: none;
  background-color: rgb(229, 9, 20);
  color: white;
  padding: 12px 24px;
  margin-left: 10px;
  border-radius: 5px;
  font-weight: 700;
  font-size: 24px;
}

.btn:hover {
  background-color: rgb(229, 9, 20, 0.9);
}
